@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f3ff;
  background-image: radial-gradient(
    circle at 1px 1px,
    #ddd6fe 1px,
    transparent 0
  );
  background-size: 2rem 2rem;
  margin: 0;
  color: #2e1065;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}

main,
article {
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
    serif;
  font-weight: normal;
}

/* footer a,
footer a:visited {
  color: #2e1065;
} */

hr {
  border: 1px solid #2e1065;
  width: 40%;
  margin: 4rem auto 4rem auto
}

@layer utilities {
  .auth-label {
    @apply sr-only block font-medium sm:text-left rtl:text-right
  }

  .auth-label-error {
    @apply mt-4
  }

  .auth-input {
    @apply my-4 border-0 border-b-2 bg-transparent focus:border-violet-500 focus:ring-violet-500 sm:w-full
  }
  .auth-input-error {
    @apply my-4 border-0 border-b-2 border-red-500 bg-transparent focus:border-violet-500  sm:w-full
  }
}
