/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

body {
  background-color: #f5f3ff; /* violet-50 */
  background-image: radial-gradient(
    circle at 1px 1px,
    #ddd6fe 1px, /* violet-200 */
    transparent 0
  );
  background-size: 2rem 2rem;
  margin: 0;
  color: #2e1065; /* violet-950 */
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}



h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
    serif;
  font-weight: normal;
}

main,
article {
  min-height: 100vh;
}

hr {
  border: 1px solid #2e1065; /* violet-950 */
  margin: 0rem auto 0rem auto
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1b4b; /* indigo-950 */
    background-image: radial-gradient(
      circle at 1px 1px,
      #312e81 1px, /* indigo-900 */
      transparent 0
    );
    background-size: 2rem 2rem;
    color: #f5f3ff; /* violet-50 */
  }

  hr {
    border: 1px solid #f5f3ff; /* violet-50 */
  }
}
